[Unit]
Description=infra-challenge app
After=network.target

[Service]
Type=simple
ExecStart=docker container start infra-app
User=root

[Install]
WantedBy=multi-user.target
